/* src/components/style.css */

.todo-list {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom right, #b8ced3, #8fcec9);
}

.todo-list h2 {
  font-size: 32px;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}

.todo-list input[type="text"] {
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px ;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.todo-list button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-list button:hover {
  background-color: #0056b3;
}

.todo-list button:focus {
  outline: none;
}

.todo-list button.delete {
  background-color: #dc3545;
}

.todo-list button.delete:hover {
  background-color: #c82333;
}

.todo-list ul {
  list-style-type: none;
  padding: 0;
}

.todo-list li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.todo-list li.completed {
  text-decoration: line-through;
}

.todo-list li input[type="checkbox"] {
  margin-right: 10px;
}

.todo-list li input[type="text"] {
  flex: 1;
  margin-right: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.todo-list li button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-list li button:hover {
  background-color: #5a6268;
}

.todo-list li button:focus {
  outline: none;
}
